.history .images{
    display: flex;
    justify-content: space-evenly;
}

.history .images img{
    object-fit: none;
    height: 450px;
    width: 100%;
    object-position: left bottom;
}

img{
    box-shadow: 4px 4px 4px gray;
}

.text{
    text-align: justify;
}

.things{
    display: flex;
}

.things img {
    height: 500px;
}



.poem{
    display: flex;
}

.poem .text {
    margin-right: auto;
}

.poem img{
    height: 600px;
}