/* Специфические стили для страниц */
.img-float {
    max-width: 45%;
    border-radius: 6px;
    shape-outside: margin-box;
}

.float-left {
    float: left;
    margin: 0 15px 15px 0;
}

.float-right {
    float: right;
    margin: 0 0 15px 15px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.reviews-container {
    background: #f8f9fa;
    border-radius: 8px;
    padding: 15px;
    margin-top: 20px;
    transition: max-height 0.3s ease-out;
    overflow: hidden;
}

.review-item {
    padding: 10px;
    border-bottom: 1px solid #eee;
    position: relative;
}

.review-controls {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.review-item p{
    margin-right: 45px;
}

.price-list {
    margin: 15px 0;
    padding: 10px;
    background: #f8f9fa;
    border-radius: 6px;
}

.card p{
    text-align: justify;

}

@media (max-width: 800px) {
    .float-left {
        float: none;
        margin: 0;
    }
    .float-right {
        float: none;
        margin: 0;
    }
    .img-float {
        max-width: 100%;
        width: 100%;
    }
}